<div class="col" style="font-size:24px">
    To,<br>
    The Branch Manager,<br>
    _____________ (Bank Name)<br>
    _____________ (Branch Name)<br>

    Date: __/__/____ (Date)<br><br>

    Subject: Application for issuance of Loan Account Statement from ________ to _________ (date)<br>
    <br>
    Respected Sir / madam,<br>

    I, ___________(Name) hold a ____________ (type of loan account) account in your bank bearing account number
    _______. I am writing this letter to request you to kindly issue me Loan account statement of my ________
    (type of loan account) account number _______ (account number) from __/__/_____ to __/__/____ (date) or till
    date. I want my loan statement for college(education loan) of amount Rs. {{query}}.

    I request you to kindly issue the loan statement at the earliest. I am authorizing to debit charges from the
    account for statement issuance (if any).<br><br>
    Yours truly,<br>
    <br>
    __________(Signature)<br>
    _________ (Name)<br>
    _________ (Customer ID)<br>
    _________ (Account number)<br>
</div>