<div class="mb-3">
    <label class="form-label">Choose Location</label>
    <select class="form-select form-select-sm" aria-label="Default select example" name="dept" style="width:30%">
        <option value="0">Alipurduar</option>
        <option value="1">Bankura</option>
        <option value="2">Birbhum</option>
        <option value="3">Cooch Behar</option>
        <option value="4">Dakshin Dinajpur (South Dinajpur)</option>
        <option value="5">Computer Science</option>
        <option value="5">Darjeeling</option>
        <option value="6">Hooghly</option>
        <option value="7">Howrah</option>
        <option value="8">Jalpaiguri</option>
        <option value="0">Computer Science</option>
        <option value="9">Jhargram</option>
        <option value="10">Electrical Engineering</option>
        <option value="11">Electrical and Communications Engineering</option>
        <option value="12">Mechanical Engineering</option>
    </select>
</div>

