{% if gmr %}
<form action="find_college" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label"><h2>GMR RANK</h2></label>
        <input class="form-control form-control-lg" name="rank" readonly required type="number" value={{temp.rank}}>
    </div>

    <div class="mb-3">
        <label class="form-label"><h2>QUOTA</h2></label>
        <select aria-label="Default select example" class="form-select form-select-lg" name="quota">
            <option value="0">General</option>
            <option value="1">OBC-A</option>
            <option value="2">OBC-B</option>
            <option value="3">Scheduled Caste</option>
            <option value="4">Scheduled Tribe</option>
        </select>
    </div>

    <button class="btn btn-primary mt-3" formtarget="_self" type="submit">Find Colleges</button>
</form>
{% else %}
<form action="predict_rank" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label"><h2>GMR RANK</h2></label>
        <input class="form-control form-control-lg" max="3000000" min="1" name="rank" required type="number"
               value={{temp.rank}}>
    </div>

    <button class="btn btn-primary" formtarget="_self" type="submit">Next Question</button>
</form>
{% endif %}